
@{
    ViewData["Title"] = "Kayitol";
    Layout = "~/Views/_Layout.cshtml";
}
@model EmlakCore.Web.Models.KayitOlModel
<section class="breadcrumb-section spad set-bg" data-setbg="/Content/Aler-Master/img/breadcrumb-bg.jpg" style="background-image: url(&quot;img/breadcrumb-bg.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4>AnaSayfa Giriş</h4>
                    <div class="bt-option">
                        <a href="#"><i class="fa fa-home"></i> AnaSayfa</a>
                        <span>Kayıt ol</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="property-submit-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"><h4>Kayıt Ol</h4></div>
                    <div class="col-lg-5"></div>
                </div>
                <br />
                <br />

                <div class="property-submit-form">
                    <form asp-controller="Musteri" asp-action="KayitOl" method="post">
                        <div class="pf-map">
                            <div class="row">
                                <div class="col-lg-3">
                                </div>
                                <div class="col-lg-6">
                                    <div class="map-inputs">
                                        <input type="email" placeholder="Eposta" asp-for="Eposta" required="required">
                                        <input type="password" placeholder="Şifre" asp-for="Sifre" required="required">
                                        <input type="password" placeholder="Şifre Tekrar" asp-for="SifreTekrar" required="required">
                                        <input type="text" placeholder="Ad" asp-for="Ad" required="required">
                                        <input type="text" placeholder="Soyad" asp-for="Soyad" required="required">
                                        <input type="text" placeholder="Telefon No" asp-for="CepTelefonu" required="required">
                                        <p>Giriş için <a href="/Kullanici/GirisYap">tıklayın</a></p>
                                    </div>
                                    <button type="submit" class="site-btn">Kayıt</button>
                                </div>
                                <div class="col-lg-3">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



